
.ion-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

* {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --chat-height : 42vh;
}
.file-explorer .grid {
  /* overflow-y: scroll !important; */
  height: calc(100% - 90px) !important;
}

.ion-page {
  background-color: rgb(244, 244, 244);
  justify-content: center !important;
  align-items: center;
}