# requirements.txt
langchain
langchain_community
langchain-huggingface
pydantic-settings
# Document Loaders
pypdf
python-docx
"unstructured[pptx]"
unstructured-inference
unstructured-pytesseract
openpyxl
pandas
# OCR for Images
pytesseract
Pillow
pdfminer.six
pi-heif
pdf2image
# Vector Database
chromadb